.App
{
    width: 100%;
}

.sort-select
{
    
    margin-top: 20px;
    margin-left: 650px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #d1322a;
    color: whitesmoke;
}

.sort-select:hover
{
    cursor: pointer;
}